.title{
    font-size: 60px;
    color: rgb(77, 77, 77);
}
.body{
    font-size: xx-large;
    color: darkturquoise;
}
.buttonRound {
    border-radius: 100%;
    background-color: white;
    border: none;
    color: darkturquoise;
    padding: 17px;
    border-style: solid !important; 
    border-color: black !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 8px 4px;
    width: 100px;
    height: 100px;
}
.buttonsquare {
    background-color: darkturquoise;
    border-style: solid !important; 
    border-color: black !important;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    width: 200px;
    height: 75px;
    vertical-align: center;
}